.img-beer{
    width: 150px;
    
}


.beer-list{
    list-style: none;
    
    font-style: oblique;
    font-weight: bold;
    
  }

li{
    padding: 5px;
}

.btn-addToCart{
    width: 150px;
    height: 30px;   
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: -webkit-linear-gradient(-45deg, #fefcea 0%,#f1da36 100%); 
}

.btn-cont{
    display: flex;
    align-items: center;
    justify-content: center;
}